[Unit]
Description=BOT_Counter-Strike 1.6
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/bot_/cs_bot
ExecStart=/root/bot_/cs_bot/venv/bin/python3 /root/bot_/cs_bot/cs_bot_kraft.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
